<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= form.text_field :title, id: :blog_title, class: 'form-control line-spacer', placeholder: 'Title' %>
  </div>

  <div class="form_group">
    <%= form.text_area :body, id: :blog_body, rows: 15, class: 'form-control', placeholder: 'Content' %>
  </div>

  <div class="form_group">
    <%= form.submit "Submit", class: 'btn btn-primary line-spacer' %>
  </div>
<% end %>