<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form_group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title, class: 'form-control line-spacer', placeholder: 'Title' %>
  </div>

  <% blog.topic = Topic.first if blog.topic == nil %>
  <div class="form_group">
    <%= form.label :topic_id %>
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                                {
                                  selected: blog.topic.id,
                                  include_blank: true
                                },
                                class: 'form-control line-spacer'
                              )
    %>
  </div>

  <div class="form_group">
    <%= form.label :status, 'Publish Status: ' %>
    <br />
    <span class='form-control line-spacer'>
      <%= form.radio_button :status, 'draft' %>
      <%= form.label :status, 'Draft' %>
      <br />
      <%= form.radio_button :status, 'published' %>
      <%= form.label :status, 'Published' %>
    </span>
  </div>

  <div class="form_group">
    <%= form.label :body, 'Content' %>
    <%= form.text_area :body, id: :blog_body, rows: 15, class: 'form-control line-spacer', placeholder: 'Content' %>
  </div>

  <div class="form_group">
    <%= form.submit "Submit", class: 'btn btn-primary line-spacer' %>
  </div>
<% end %>