<div class="col-md-4 col-sm-6">
  <div class="card portfolio-box" data-id="<%= portfolio_item.id %>">
    <a href="<%= portfolio_show_path(portfolio_item.id) %>" alt="<%= portfolio_item.title %>">
      <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: "100%" %>
    </a>
    <p class="card-text">
      <span>
        <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %>
      </span>
      <%= portfolio_item.subtitle %>
    </p>
  </div>
</div>