<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset line-spacer">
    <h4>About Me</h4>
    <p>Software Development is my devotion. Creating new posibilities is my passion.</p>
  </div>

  <%= source_helper("alert alert-info line-spacer") %>

  <div>
    <h4>Topics:</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><%= link_to (fa_icon "github", class: "mr-2"), "https://github.com/michaelharris7", target: "_blank", alt: "My Github account" %></li>
      <li><%= link_to (fa_icon "linkedin-square", class: "mr-2"), "https://github.com/michaelharris7", target: "_blank", alt: "My Linkedin account" %></li>
      <li><%= link_to (fa_icon "facebook"), "https://github.com/michaelharris7", target: "_blank", alt: "My Facebook account" %></li>
    </ol>
  </div>
</aside>