<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

Free B-Roll provided by <a target="_blank" href="http://www.Videezy.com">Videezy.com</a>


  <body>
    <div class="flex-container">
      <%= video_tag(
          'Particle_Wave_Motion_Background_Loop.ogv',
          id: 'background',
          muted: true,
          loop: true,
          poster: 'home_bg.jpg'
        )
      %>

      <%= alerts %>

      <header class="flex-header">
        <%= render "shared/application_nav" %>
      </header>

      <main role="main" class="flex-content">
        <%= yield %>
      </main>

      <footer>
        <div style="float:right">
          <p class="back-video-caption">
            Free B-Roll provided by <a target="_blank" href="http://www.Videezy.com">Videezy.com</a>
          </p>
        </div>
        <br/>
        <div class="flex-footer">
          <%= render "shared/application_footer" %>
        </div>
      </footer>
    </div>
    <script>
      $(document).ready(function() {
        $("#background").get(0).play();
        $("#background").get(0).muted = "muted";
      });
    </script>
  </body>
</html>